* {
  margin: 0;
}

.example-spacer {
  flex: 1 1 auto;
}

.navbar-brand img{

  height: 6vh;
}


.nav-item {

  padding: 4px;
  margin-left: 12px;
  font-size: 18px;
 
}

ul li{
  list-style-type: none;

}


