<div id="jefeContainer">

    <div class="jefeFicha">
        <h1 class="jefeEnunciado">Ficha del Empleado de la Empresa</h1>

            <p class="nombreJefe">Nombre Tareas: {{nombreJefe}}</p>
            <p class="descripcionTareas">Edad Jefe: {{edadJefe}}</p>
            <p class="descripcionTareas">Nombre Departamento: {{nombreDepartamentoJefe}}</p>
            <p class="descripcionTareas">areaEspecializacionJefe: {{areaEspecializacionJefe}}</p>
            <p class="descripcionTareas">experienciaLaboralJefe: {{experienciaLaboralJefe}}</p>
            <p class="descripcionTareas">salarioJefe : {{salarioJefe}}</p>
            <p class="descripcionTareas">telefonoJefe: {{telefonoJefe}}</p>
            <p class="descripcionTareas">correoElectronicoJefe: {{correoElectronicoJefe}}</p>
            <p class="descripcionTareas">fotoJefe: {{fotoJefe}}</p>


        
    </div>
</div>
