<div id="tareaContainer">

    <div class="tareaFicha">
        <h1 class="tareaEnunciado">Ficha de los Jefes de la Empresa</h1>

            <h3 class="idTareas"></h3>
            <p class="nombreTareas">Nombre Tareas: {{nombre}}</p>
            <p class="descripcionTareas">Descripcion Tareas: {{ descripcion}}</p>
            <p class="descripcionTareas">Tarea Iniciada: {{tareaIniciada}}</p>
            <p class="descripcionTareas">Tarea Pendiente: {{tareaPendiente}}</p>
            <p class="descripcionTareas">Tarea Finalizada: {{tareaFinalizada}}</p>
           
    </div>
</div>
