<div id="empleadoContainer">

    <div class="emmpleadoFicha">
        <h1 class="empleadoEnunciado">Ficha del Empleado de la Empresa</h1>

            <p class="nombreEmpleados">Nombre Tareas: {{ nombreEmpleados }}</p>
            <p class="descripcionTareas">Apellido Empleados: {{ apellidoEmpleados }}</p>
            <p class="descripcionTareas">Nombre Departamento: {{ nombreDepartamento }}</p>
            <p class="descripcionTareas">Años En LaEmpresa: {{ anioEnLaEmpresa }}</p>
            <p class="descripcionTareas">Salario Empresa: {{salarioEmpresa}}</p>
            <p class="descripcionTareas">CorreoEmpresa : {{ correoEmpresa }}</p>
            <p class="descripcionTareas">Nombre Departamento: {{ nombreDepartamento }}</p>
            <p class="descripcionTareas">Telefono Empresa: {{ telefonoEmpresa }}</p>
            <p class="descripcionTareas">Estado De La Tarea: {{ estadoDeLaTarea }}</p>
        
    </div>
</div>
