*{
    padding: 25px;

}

#containerInicio {
  background-color: #00214A;
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  padding: 10px;
}

#containerInicio nav{
    display: flex;
    justify-content: center;
    align-items: center;

}

#containerInicio nav ul{
    list-style: none;
    display: flex;
    padding: 12px; 
}

#container nav ul li{
    list-style: none;
    margin-right: 20px;
    color: #333;
    text-align: center;
    padding: 2px 4px;
    text-decoration: none;
}

#container nav li a:hover{
   color: #333;
   background-color: #ddd;
}

