<!-- <form [formGroup]="crearForm" (ngSubmit)="onSubmit()"> -->
<form #tareaForm="ngForm" (ngSubmit)="onSubmit(tareaForm)">   
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" placeholder="Nombre de la tarea" formControlName="nombre" class="form-control">
  </div>
  <div class="form-group">
    <label for="descripcion">Descripción</label>
    <textarea formControlName="descripcion" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label for="tareaIniciada">Tarea Iniciada</label>
    <input type="text" formControlName="tareaIniciada" class="form-control">
  </div>
  <div class="form-group">
    <label for="tareaPendiente">Tarea Pendiente</label>
    <input type="file" formControlName="tareaPendiente" class="form-control">
  </div>
  <div class="form-group">
    <label for="tareaFinalizada">Tarea Finalizada</label>
    <input type="file" formControlName="tareaFinalizada" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Crear tarea</button>
</form>

