<!-- <form [formGroup]="crearForm" (ngSubmit)="onSubmit()"> -->
<div class="container mt-15">
  <div class="row">
      <div class="col-lg-12">
          <div class="card">
              <div class="card-body text-center">
                  <span class="titulo">{{ titulo | uppercase }}</span>
                  <form class="mb-3" [formGroup]="tareaForm" (ngSubmit)="agregarTarea()">
                      <div class="mb-3">
                          <input type="text" formControlName="nombre" class="form-control" placeholder="Curso">
                          <div class="text-danger" *ngIf="tareaForm.get('nombre')?.hasError('required') && tareaForm.get('nombre')?.touched">
                              <span>El nombre es obligatorio</span>
                          </div>
                      </div>
                      <div class="mb-3">
                          <input type="text" formControlName="descripcion" class="form-control" placeholder="Descripción">
                          <div class="text-danger" *ngIf="tareaForm.get('descripcion')?.hasError('required') && tareaForm.get('descripcion')?.touched">
                              <span>La descripción es obligatoria</span>
                          </div>
                      </div>
                      <div class="mb-3">
                          <input type="text" formControlName="tareaIniciada" class="form-control" placeholder="Tarea Iniciada">
                          
                      </div>
                      <div class="mb-3">
                          <input type="number" formControlName="tareaPendiente" class="form-control" placeholder="Tarea Pendiente">
                         
                      </div>
                      <div class="mb-3">
                          <input type="text" formControlName="tareaFinalizada" class="form-control" placeholder="Tarea Finalizada">
                      </div>
                      <div class="mb-3">
                          <button class="btn btn-secondary float-start" routerLink="/">VOLVER</button>
                          <button type="submit" [disabled]="tareaForm.invalid" class="btn btn-success float-end">ACEPTAR</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>

