<div id="empleadosContainer">

    <div class="empleadosFicha">
        <h1 class="empleadosEnunciado">Ficha de los Jefes de la Empresa</h1>


        <div *ngFor="let empleados of empleadosAll">
            <h3 class="nombresJefes">{{ empleados.nombreE }} {{ empleados.apellidoE}}</h3>
            <p class="atributosJefes">Nombre Departamento: {{ empleados.nombreDepartamentoE }}</p>
            <p class="atributosJefes">Estado De la Tarea: {{empleados.estadoE}}</p>
        </div>
    </div>
</div>

